.App {
  text-align: center;
  max-width: 800px;
  margin:10px auto;
}

legend {
  font-size: 3em;
}

.inputField label {
  font-size: 1.8em;
}

input {
  max-width: 400px;
  width: 100%;
  height: 30px;
  font-size: 20px;
}

button {
  padding:10px 20px;
  margin-top:20px;
  font-size:18px;
}